language: cpp
compiler:
  - gcc
  - clang
  
before_install:
  - sudo add-apt-repository -y ppa:likemartinma/devel     # for CMake
  - sudo add-apt-repository -y ppa:ubuntu-sdk-team/ppa    # for Qt5
  - sudo apt-get update
  - sudo apt-get install cmake qtbase5-dev
  
before_script:
  - mkdir build
  - cd build
  - export LD_LIBRARY_PATH="../../lib:$LD_LIBRARY_PATH"
  - export CTEST_OUTPUT_ON_FAILURE=true         
  
script:
  - cmake ..
  - make all 
  - make test
  - sudo make install
