language: cpp
compiler:
  - gcc
  - clang
  
before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test # for g++ 4.8
  - sudo add-apt-repository -y ppa:likemartinma/devel      # for CMake
  - sudo add-apt-repository -y ppa:ubuntu-sdk-team/ppa     # for Qt5
  - sudo apt-get update -qq

install:
  - sudo apt-get install g++-4.8 cmake qtbase5-dev
  - export CXX=g++-4.8
  - wget https://googlemock.googlecode.com/files/gmock-1.7.0.zip
  - unzip gmock-1.7.0.zip
  - cd gmock-1.7.0 
  - mkdir build && cd build && cmake .. && make
  - cd ../gtest
  - mkdir build && cd build && cmake .. && make
  - cd ../..
  - export GMOCK_HOME=`pwd`
  - cd ..
  
before_script:
  - mkdir build
  - cd build
  - export LD_LIBRARY_PATH="../../lib:$LD_LIBRARY_PATH"
  - export CTEST_OUTPUT_ON_FAILURE=true         
  
script:
  - cmake ..
  - make all 
  - make test
